<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>山大视点搜索引擎_test</title>
<link rel="stylesheet" type="text/css" href="../static/style/main.css">
<script src="../static/scripts/jquery-3.3.1.min.js"></script>
<script src="../static/scripts/main.js"></script>
</head>
<body>
    <div class='top'>
        <input id='query'>
        <input id='search_button' value="search" readonly="readonly" >
    </div>
    <div class='result'>
        <div id='result_num_box'>
            共 <a id='result_num'>0</a>条结果
        </div>
        <div id='result_box'>
        </div>
    </div>
    <div class="show_more_box">
        <a id='show_more'>show more</a>
    </div>
</body>
</html>